/* the container itself */
.quoteContainer {
    display: flex;
    align-items: flex-start;
    width: 50%;
    border: 1px solid var(--main-color);
    margin-left: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    transition: all 0.1s linear;
    padding: 10px;
    flex-direction: row;
}

.quoteContainer:hover {
    background: var(--profile-picture-bg);
}

/* mobile responsiveness */
@media (max-width: 596px) {
    .quoteContainer {
        width: 93%;
    }
}

/* quote pfp */
.quotePfp {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

/* the content container */
.quoteContent {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* the header (container) */
.quoteHeader {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

/* display name */
.quoteDisplay {
    margin-bottom: 5px;
    word-wrap: break-word;
    word-break: break-word;
}

/* username */
.quoteUsername {
    color: var(--text-semi-transparent);
    transform: translateY(-5px);
    word-wrap: break-word;
    word-break: break-word;
}

/* note text */
.quoteText {
    word-wrap: break-word;
    word-break: break-word;
    overflow: hidden;
    transform: translateX(-45px);
}

/* handle emojis */
.quoteText .emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}