/* the issue details css */
#issueDetails {
    border: 1px solid var(--text-half-transparent);
    padding: 15px;
    margin-top: 15px;
    border-radius: 5px;
    height: auto;
    min-height: 70px;
    text-align: center;
    display: none;
}

/* the details outside of the div */
.issueDetailsOutsideBox h2 {
    margin-top: 5px;
}

.issueDetailsOutsideBox .issueNumber {
    color: var(--text-semi-transparent);
}

.issueDetailsOutsideBox .issueState {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    margin-top: 3px;
}

.issueDetailsOutsideBox .issueState.open {
    background: var(--success-color);
}

.issueDetailsOutsideBox .issueState.closed {
    background: var(--error-text);
}

/* colors for issue state */
.issueDetailsOutsideBox .issueState.black {
    color: black;
}
.issueDetailsOutsideBox .issueState.black i {
    color: black;
}

.issueDetailsOutsideBox .issueState.white {
    color: white;
}
.issueDetailsOutsideBox .issueState.white i {
    color: white;
}

/* issue details inside */
.issueDetailsInside {
    text-align: left;
}

.issueDetailsInside .issueOpenedWhen {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--text-semi-transparent);
}

.issueDetailsInside .githubPfp {
    border-radius: 50%;
    width: 25px;
}

.issueDetailsInside .darken {
    color: var(--text-semi-transparent);
}

.issueDetailsInside .githubProfileURL {
    color: var(--text);
    text-decoration: none;
}

.issueDetailsInside .githubProfileURL:hover,
.issueDetailsInside .githubProfileURL:focus {
    outline: none;
    text-decoration: underline;
    color: var(--main-color);
}

.issueDetailsInside img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* issue description */
.issueDetailsInside .issueDescription {
    margin-top: 15px;
}

.issueDetailsInside .issueDescription li {
    margin-left: 15px;
    margin-bottom: 5px;
}

.issueDetailsInside .issueDescription h1,
.issueDetailsInside .issueDescription h2,
.issueDetailsInside .issueDescription h3 {
    padding-bottom: 5px;
    border-bottom: 1px solid var(--text-half-transparent);
}

/* events */
.githubEvent {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-bottom: 5px;
    border-top: 1px solid var(--text-semi-transparent);
    padding: 5px;
    word-wrap: break-word;
    word-break: break-word;
}

.githubEvent.thread {
    display: inline-block;
    width: 97%;
}

.githubEvent .githubPfp {
    border-radius: 50%;
    width: 20px;
}

.githubEvent p {
    display: flex;
    align-items: center;
    gap: 5px;
}

.githubEvent .label {
    padding: 5px;
    font-size: smaller;
    border-radius: 5px;
}

.githubEvent .label.black {
    color: black;
}

.githubEvent .label.white {
    color: white;
}

.githubEvent .githubProfileURL {
    color: var(--text);
    text-decoration: none;
}

.githubEvent .githubProfileURL:hover,
.githubEvent .githubProfileURL:focus {
    color: var(--main-color);
    text-decoration: underline;
}

.githubEvent .darken {
    color: var(--text-semi-transparent);
}

.githubJoinDiscussion {
    text-align: center;
    margin-top: 10px;
    padding-bottom: 15px;
    font-size: 17px;
}