/* 404 page */
.blogStyle.fourohfour {
    text-align: center;
}

.blogStyle.fourohfour .auroraConcerned {
    width: 175px;
}

.blogStyle.fourohfour .fourohfourDescription {
    color: var(--text-semi-transparent);
}