.contributor {
   display: flex;
   align-items: center;
   margin-bottom: 10px;
   border: 1px solid var(--text-half-transparent);
   padding: 15px;
   border-radius: 5px;
   transition: transform 0.2s ease;
   cursor: pointer;
}

.contributor:hover,
.contributor:focus {
   transform: translateY(-1px);
}

.profilePic {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   margin-right: 10px;
}

.contributorInfo {
   display: flex;
   flex-direction: column;
}

.contributor .badge {
   background: var(--main-color-darker);
   padding: 2px 8px;
   border-radius: 12px;
   font-size: 0.8em;
   margin-left: 5px;
}

.contributorsPageDesc {
   margin-bottom: 10px;
   color: var(--text-semi-transparent);
}