#createIssue {
    border: 1px solid var(--success-color);
    margin-top: 25px; /* since its on the top of the page :P */
    font-size: 15px;
}

#createIssue:hover,
#createIssue:focus {
    outline: none;
    background: var(--success-color);
    box-shadow: 0 0 8px var(--success-color);
}