@import url("./components/header.css");
@import url("./components/app.css");
@import url("./components/sidebar.css");
@import url("./components/pageLoadingIndicator.css");
@import url("./components/notes.css");
@import url("./components/noteMoreSubmenu.css");
@import url("./components/newNotesAvailable.css");
@import url("./components/quoteContainer.css");
@import url("./components/sendNoteQuick.css");
@import url("./components/greeting.css");

/* default colors */
:root {
   --background: #1d1d1d;
   --main-color: #ef97be;
   --main-color-darker: #e1788a;
   --header-color: #2d2d2d;
   --text: #fff;
   --text-half-transparent: rgba(255, 255, 255, 0.5);
   --text-semi-transparent: rgba(255, 255, 255, 0.7);
   --profile-picture-bg: #363636;
   --sidebar-button-hover: #3d3d3d;
   --button-transparent-hover: #2d2d2d;
   --success-color: #00dc00;
   --warning-text: #ffde59;
   --error-text: #ff0000;
   --sidebar-text: #fff;
   --banner-button-bg: #000;
   --note-seperator: #2d2d2d;
   --sidebar-button-border: transparent;
   --modal-background: #000;
   --like-color: red;
   --renote-color: #84dd00;
   --content-warning: #1d1d1d;
   --skeleton-start: #404040;
   --skeleton-middle: #303030;
   --skeleton-end: #252525;
   --reply-background: #303030;
   --reply-hovered-background: #3f3f3f;
   --note-background: #282828;
   --header-shadow: rgba(0, 0, 0, 0.1);
   --zoom-level: 1;
   --button-text: #fff;
   --hovered-button-text: #000;
   --sidebar-create-note-button: #fff;
   --sidebar-create-note-button-hover: #fff;
}

/* auride fonts */
@font-face {
   font-family: "Gabarito";
   src: url(/assets/fonts/Gabarito.ttf);
}

@font-face {
   font-family: "Inconsolata";
   src: url(/assets/fonts/Inconsolata.ttf);
}

/* default styling for all elements  */
* {
   margin: 0;
   padding: 0;
   font-family: "Gabarito", sans-serif;
   color: var(--text);
}

/* default styling for body */
body {
   background: var(--background);
   zoom: var(--zoom-level);
}

/* description text */
.description {
   color: var(--text-semi-transparent);
   font-size: 15px;
}

/* links */
a {
   color: var(--main-color);
   text-decoration: underline;
   transition: all 0.1s ease;
}

a:hover {
   color: var(--main-color-darker);
   text-decoration: none;
}