#issuesBox {
    border: 1px solid var(--text-half-transparent);
    padding: 15px;
    margin-top: 15px;
    border-radius: 5px;
    height: auto;
    min-height: 70px;
    text-align: center;
}

/* issues within the box */
#issuesBox .issue {
    text-align: left;
    margin-bottom: 15px;
    border-top: 1px solid var(--text-semi-transparent);
    padding-top: 10px;
}

#issuesBox .issue:last-child {
    margin-bottom: 0px;
}

#issuesBox .issue:first-child {
    border-top: 1px solid transparent;
    padding-top: 0px;
}

/* link styling */
#issuesBox .issue a {
    color: var(--text);
    text-decoration: none;
}

#issuesBox .issue a:hover,
#issuesBox .issue a:focus {
    outline: none;
    color: var(--main-color);
    text-decoration: underline;
}

/* icon styling */
#issuesBox .issue span i {
    margin-right: 5px;
}

#issuesBox .issue span.open i {
    color: var(--success-color);
}

/* github notice */
.githubIssuesNotice {
    color: var(--warning-text);
    margin-top: 10px;
}

.githubIssuesNotice i {
    color: var(--warning-text);
}

/* additional details */
#issuesBox .issue .additionalDetails {
    color: var(--text-semi-transparent);
    font-size: smaller;
}

#issuesBox .issue .additionalDetails i {
    color: var(--text-semi-transparent);
}

/* the label(s) */
#issuesBox .issue h3 {
    display: flex;
    max-width: auto;
}

#issuesBox .issue .label {
    margin-left: 5px;
    font-size: smaller;
    border-radius: 5px;
    padding: 0 10px 0 10px;
    margin-top: 2px;
}