.maintainanceBanner {
    background: var(--warning-text);
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    margin-bottom: 0px;
}

.maintainanceBanner p,
.maintainanceBanner p i {
    color: var(--hovered-button-text);
}