.newNotesAvailable {
   position: fixed;
   top: 10%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 1;
   background: var(--main-color);
   padding: 5px;
   border-radius: 5px;
   cursor: pointer;
}