::selection {
   background-color: var(--main-color);
   color: var(--hovered-button-text);
}

/* why do you have to pretend to be unique, firefox? */
::-moz-selection {
   background-color: var(--main-color);
   color: var(--hovered-button-text);
}