name: Deploy to GitHub Pages
on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
      
      - name: Install dependencies
        run: npm install
        working-directory: ./src
      
      - name: Inject Firebase config
        run: |
          sed -i \
          -e 's|apiKey: ".*"|apiKey: "${{ secrets.FIREBASE_API_KEY }}"|' \
          -e 's|authDomain: ".*"|authDomain: "${{ secrets.FIREBASE_AUTH_DOMAIN }}"|' \
          -e 's|databaseURL: ".*"|databaseURL: "${{ secrets.FIREBASE_DATABASE_URL }}"|' \
          -e 's|projectId: ".*"|projectId: "${{ secrets.FIREBASE_PROJECT_ID }}"|' \
          -e 's|storageBucket: ".*"|storageBucket: "${{ secrets.FIREBASE_STORAGE_BUCKET }}"|' \
          -e 's|messagingSenderId: ".*"|messagingSenderId: "${{ secrets.FIREBASE_MESSAGING_SENDER_ID }}"|' \
          -e 's|appId: ".*"|appId: "${{ secrets.FIREBASE_APP_ID }}"|' \
          -e 's|measurementId: ".*"|measurementId: "${{ secrets.FIREBASE_MEASUREMENT_ID }}"|' \
          ./src/public/assets/js/firebase.js
      
      - name: Update env vars
        run: |
          sed -i \
          -e 's|const serverUrl = ".*"|const serverUrl = "${{ secrets.SERVER_URL }}"|' \
          ./src/public/assets/js/envVars.js
      
      - name: Build project
        run: npm run build
        working-directory: ./src

      - name: Upload pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./src/dist
    
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4