name: Deploy to GitHub Pages
on:
  workflow_dispatch:
  push:
    branches:
      - "**"

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
      
      - name: Install dependencies
        run: npm install
        working-directory: ./src
      
      - name: Write .env file
        run: |
          printf "%s" "${{ secrets.ENV_FILE }}" > ./src/.env
      
      - name: Build project
        run: npm run build
        working-directory: ./src
    
  deploy:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
        with:
          branch: gh-pages
          folder: ./src/dist